/* More space at the bottom of the page. */
.md-main__inner {
  margin-bottom: 1.5rem;
}

/* Invert logo colors in navbar. */
.md-logo img {
  filter: invert(100%);
}

/* Add space between Material buttons on mobile. */
.md-button {
  margin-bottom: 0.2rem;
}

/* Prevent selection of prompts in pycon code blocks. */
.language-pycon .gp, .language-pycon .go { /* Generic.Prompt, Generic.Output */
  user-select: none;
}

/* Add space above bold ToC entries. */
.md-sidebar--secondary .md-nav__item:not(:first-child):has(strong) {
  margin-top: 1rem;
}